{% extends "base.html.twig" %}
{% block classpage %}music-discography{% endblock %}
{% block title %}Artists{% endblock %}
{% block body %}
    <section id="page-title">
        <div class="global-title wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <h1>Artists</h1>
        </div>
    </section>
    <section id="discography">
        <div class="row">
            <div class="w-100 col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="w-100 discography_banner">
                    <div class="music-banner-image" style="height: 594.328px;">
                        <img src="{{asset('bundles/app/images/dane-deaner-305151-unsplash.jpg')}}" alt="">
                    </div>
                    <div class="music-banner-text">
                        <h2>1984</h2>
                        <p>Jazz Music</p>
                    </div>
                    <a href="{{path('artist_show', {'id':1})}}" class="music-banner-link"></a>
                </div>
            </div>
            <div class="w-100 col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="w-100 discography_banner">
                    <div class="music-banner-image" style="height: 594.328px;">
                        <img src="{{asset('bundles/app/images/dane-deaner-305151-unsplash.jpg')}}" alt="">
                    </div>
                    <div class="music-banner-text">
                        <h2>Lavender</h2>
                        <p>Hip hop</p>
                    </div>
                    <a href="{{path('artist_show', {'id':1})}}" class="music-banner-link"></a>
                </div>
            </div>
            <div class="w-100 col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="w-100 discography_banner">
                    <div class="music-banner-image" style="height: 594.328px;">
                        <img src="{{asset('bundles/app/images/dane-deaner-305151-unsplash.jpg')}}" alt="">
                    </div>
                    <div class="music-banner-text">
                        <h2>eye to eye</h2>
                        <p>Hip hop</p>
                    </div>
                    <a href="{{path('artist_show', {'id':1})}}" class="music-banner-link"></a>
                </div>
            </div>
            <div class="w-100 col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="w-100 discography_banner">
                    <div class="music-banner-image" style="height: 594.328px;">
                        <img src="{{asset('bundles/app/images/dane-deaner-305151-unsplash.jpg')}}" alt="">
                    </div>
                    <div class="music-banner-text">
                        <h2>Person</h2>
                        <p>Hip hop</p>
                    </div>
                    <a href="{{path('artist_show', {'id':1})}}" class="music-banner-link"></a>
                </div>
            </div>
            <div class="w-100 col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="w-100 discography_banner">
                    <div class="music-banner-image" style="height: 594.328px;">
                        <img src="{{asset('bundles/app/images/dane-deaner-305151-unsplash.jpg')}}" alt="">
                    </div>
                    <div class="music-banner-text">
                        <h2>Imagine</h2>
                        <p>Rock Music</p>
                    </div>
                    <a href="{{path('artist_show', {'id':1})}}" class="music-banner-link"></a>
                </div>
            </div>
            <div class="w-100 col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="w-100 discography_banner">
                    <div class="music-banner-image" style="height: 594.328px;">
                        <img src="{{asset('bundles/app/images/dane-deaner-305151-unsplash.jpg')}}" alt="">
                    </div>
                    <div class="music-banner-text">
                        <h2>Camel</h2>
                        <p>Rock and Roll</p>
                    </div>
                    <a href="{{path('artist_show', {'id':1})}}" class="music-banner-link"></a>
                </div>
            </div>
            <div class="w-100 col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="w-100 discography_banner">
                    <div class="music-banner-image" style="height: 594.328px;">
                        <img src="{{asset('bundles/app/images/dane-deaner-305151-unsplash.jpg')}}" alt="">
                    </div>
                    <div class="music-banner-text">
                        <h2>Men</h2>
                        <p>Rock Music</p>
                    </div>
                    <a href="{{path('artist_show', {'id':1})}}" class="music-banner-link"></a>
                </div>
            </div>
            <div class="w-100 col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="w-100 discography_banner">
                    <div class="music-banner-image" style="height: 594.328px;">
                        <img src="{{asset('bundles/app/images/dane-deaner-305151-unsplash.jpg')}}" alt="">
                    </div>
                    <div class="music-banner-text">
                        <h2>covering Eyes</h2>
                        <p>Jazz Music</p>
                    </div>
                    <a href="{{path('artist_show', {'id':1})}}" class="music-banner-link"></a>
                </div>
            </div>
            <div class="w-100 col-md-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="w-100 discography_banner">
                    <div class="music-banner-image" style="height: 594.328px;">
                        <img src="{{asset('bundles/app/images/dane-deaner-305151-unsplash.jpg')}}" alt="">
                    </div>
                    <div class="music-banner-text">
                        <h2>Hands</h2>
                        <p>Hip hop</p>
                    </div>
                    <a href="{{path('artist_show', {'id':1})}}" class="music-banner-link"></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
    </script>
{% endblock %}
