{% extends "base.html.twig" %}
{% block title %}{{artist.name}}{% endblock %}

{% block body %}
    <section id="page-title">
        <div class="global-title wow zoomIn">
            <h1>{{artist.name}}</h1>
        </div>
    </section>
    <section id="discography-text">
        <div class="section">
            <div class="row">
                <div class="col-lg-4">
                    <div class="artist-image">
                        <img class="" src="{{asset(artist.getThumbnailArtist)}}" alt="{{artist.name}}">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="discography_description">
                        {{artist.description|raw}}
                    </div>
                    <div class="social-icons">
                        <span>SUIVRE :</span>
                        <a href="{{artist.facebookPath}}" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="{{artist.instaPath}}" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="{{artist.spotifyPath}}" target="_blank">
                            <i class="fa fa-spotify" aria-hidden="true"></i>
                        </a>
                        
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="video" class="section_5">
        <div class="section_bg_image" style="background-image: url({{asset('bundles/app/images/mink-mingle-109837-unsplash.jpg')}})"></div>
        <div class="section">

            <div class="title">
                <div class="">
                    <h1>Video</h1>
                </div>
            </div>
            <div class="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{artist.youtubePath}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <div class="youtube" id="aJOTlE1K90k" data-src="{{asset('bundles/app/images/edwin-andrade-158050-unsplash.jpg')}}"></div> -->
                </div>
            </div>
        </div>
    </section>
    {% if artist.albums|length %}
        <section id="discography">
            <div class="title">
                <div class="">
                    <h1>Releases</h1>
                    <p>Lastest news</p>
                </div>
            </div>
            <div class="row">
                {% for album in artist.albums %}
                    <div class="w-100 col-sm-6 col-md-3 wow fadeInUp">
                        <div class="w-100 discography_banner">
                            <div class="music-banner-image">
                                <img src="{{asset(album.getThumbnail)}}" alt="">
                            </div>
                            <div class="music-banner-text">
                                <h2>{{album.name}}</h2>
                                <!-- <p>Hip hop</p> -->
                            </div>
                            <a href="{{path('release_show', {'id': album.id})}}" class="music-banner-link"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endblock %}
{% block javascripts %}
<script>
    function share_fb(url) {
        window.open('https://www.facebook.com/sharer/sharer.php?u='+url,'facebook-share-dialog',"width=626, height=436")
    }
    function share_tweet(name) {
        var text = "Venez suivre "+name +" sur ";
        var shareUrl = 'https://twitter.com/intent/tweet?url=' + location.href + '&text=' + text;
        window.open(shareUrl,'ShareOnTwitter',"width=626, height=436")
    }
</script>
{% endblock %}
