{% extends 'back/layout.html.twig' %}
{% block top_stylesheet %}
<link rel="stylesheet" href="{{ asset('bundles/back/css/trumbowyg.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/back/css/flatpickr.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/back/css/select2.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/back/js/trumbowyg/colors/colors.css') }}">
{% endblock %}

{% block body %}
<div class="content__inner content__inner--sm">
    <header class="content__title">
        <h1>Création d'un nouvel album</h1>
        <div class="actions">
            <a href="{{path('album_index')}}" class="actions__item zmdi zmdi-close" data-toggle="tooltip" data-placement="top" data-original-title="Annuler"></a>
        </div>
    </header>
    <div class="card">
        <div class="new-contact__header">
            <a href="javascript:void(0)" id="changeImageThumbnail" class="zmdi zmdi-camera new-contact__upload"></a>

            <img src="{{asset('bundles/back/img/icon-person.png')}}" class="new-contact__img" alt="">
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{ form_widget(form.name) }}
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            {{ form_widget(form.artists) }}
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            {{ form_widget(form.producers) }}
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                <div class="form-group">
                                    {{ form_widget(form.releaseDate) }}
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            {{ form_widget(form.description) }}
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-youtube-play"></i></span>
                            <div class="form-group">
                                {{ form_widget(form.youtubePath) }}
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-amazon"></i></span>
                            <div class="form-group">
                                {{ form_widget(form.amazonPath) }}
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-apple"></i></span>
                            <div class="form-group">
                                {{ form_widget(form.itunesPath) }}
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-soundcloud"></i></span>
                            <div class="form-group">
                                {{ form_widget(form.soundCloudPath) }}
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-spotify"></i></span>
                            <div class="form-group">
                                {{ form_widget(form.spotifyPath) }}
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-google-play"></i></span>
                            <div class="form-group">
                                {{ form_widget(form.googlePlayPath) }}
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="songs" data-prototype="{{ form_widget(form.songs.vars.prototype)|e('html_attr') }}">

                </div>
                <div class="mt-5 text-center">
                    <input class="btn btn-light" type="submit" value="Enregistrer" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('bundles/back/js/trumbowyg/trumbowyg.min.js') }}"></script>
<script src="{{ asset('bundles/back/js/trumbowyg/colors/trumbowyg.colors.js') }}"></script>
<script src="{{ asset('bundles/back/js/trumbowyg/fr.min.js') }}"></script>
<script src="{{ asset('bundles/back/js/flatpickr.min.js') }}"></script>
<script src="{{ asset('bundles/back/js/flatpickr-fr.js') }}"></script>
<script src="{{ asset('bundles/back/js/select2.full.min.js') }}"></script>
<script>
var $collectionHolder;

var $addTagButton = $('<button type="button" class="add_tag_link btn btn-light">Ajouter une chanson</button>');
var $newLinkLi = $('<div></div>').append($addTagButton);

jQuery(document).ready(function() {
    $('#backbundle_album_artists').select2({
        placeholder: "Choix des artistes de l'abum"
    })
    $('fieldset').addClass('d-none');
    $('#changeImageThumbnail').on('click',function() {
        $('#backbundle_album_image').trigger('click');
    });
    $("#backbundle_album_releaseDate").flatpickr({
        locale: "fr",
        altFormat: "F j, Y",
        dateFormat: "d/m/Y",
        nextArrow: '<i class="zmdi zmdi-arrow-right" />',
        prevArrow: '<i class="zmdi zmdi-arrow-left" />'
    })
    $("#backbundle_album_description").trumbowyg({
        svgPath: "{{asset('bundles/back/js/trumbowyg/icons.svg')}}",
        lang: "fr",
        btns: [
            ['undo', 'redo'],
            ['foreColor', 'backColor'],
            ['formatting'],
            ['strong', 'em', 'del'],
            ['link'],
            ['insertImage'],
            ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
            ['unorderedList', 'orderedList'],
            ['removeformat'],
        ]
    })
    $collectionHolder = $('div.songs');

    $collectionHolder.append($newLinkLi);

    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagButton.on('click', function(e) {
        addTagForm($collectionHolder, $newLinkLi);
    });
});
function addTagForm($collectionHolder, $newLinkLi) {
    var prototype = $collectionHolder.data('prototype');

    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // newForm = newForm.replace(/__name__/g, index);
    $collectionHolder.data('index', index + 1);
    var $newFormLi = $('<div><label>Titre n°'+index+'</label></div>').append(newForm);
    $newLinkLi.before($newFormLi);
}
function readURL(input) {
    var url = input.value;
    var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
    if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('.new-contact__img').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    } else {
        alert('Format non valide')
    }
}
</script>
{% endblock %}
