{% extends "base.html.twig" %}
{% block title %}News{% endblock %}
{% block body %}
    <section id="page-title">
        <div class="global-title wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <h1>News</h1>
        </div>
    </section>
    <section id="news" class="section_6">
        <div class="section">
            <div class="news">
                <div class="row">
                    <div class="col-4 wow fadeInUpBig">
                        <a href="{{path('news_show', {'id':1})}}">
                            <div class="bg_image news_bg_image">
                                <img src="{{asset('bundles/app/images/malte-wingen-381988-unsplash.jpg')}}" alt="stas-svechnikov">
                                <div class="overly"></div>
                            </div>
                        </a>
                        <div class="news_content news_content_1">
                            <a href="{{path('news_show', {'id':1})}}">
                                <h2>NEW DJ</h2>
                            </a>
                            <div class="day_num">
                                <span>19</span>
                                <div>
                                    <p>Dec</p>
                                    <p>2019</p>
                                </div>
                                <p>by admin</p>
                            </div>
                            <div class="n_c">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation
                                </p>
                            </div>
                            <div class="cta">
                                <a href="{{path('news_show', {'id':1})}}">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 wow fadeInUp">
                        <a href="{{path('news_show', {'id':1})}}">
                            <div class="bg_image news_bg_image">
                                <img src="{{asset('bundles/app/images/hanny-naibaho-388579-unsplash.jpg')}}" alt="timothy-paul-smith">
                                <div class="overly"></div>
                            </div>
                        </a>
                        <div class="news_content news_content_2">
                            <a href="{{path('news_show', {'id':1})}}">
                                <h2>DRUM FESTIVAL</h2>
                            </a>
                            <div class="day_num">
                                <span>19</span>
                                <div>
                                    <p>Dec</p>
                                    <p>2019</p>
                                </div>
                                <p>by admin</p>
                            </div>
                            <div class="n_c">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation
                                </p>
                            </div>
                            <div class="cta">
                                <a href="{{path('news_show', {'id':1})}}">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 wow fadeInUpBig">
                        <a href="{{path('news_show', {'id':1})}}">
                            <div class="bg_image news_bg_image">
                                <img src="{{asset('bundles/app/images/jack-hamilton-135654-unsplash.jpg')}}" alt="george-gvasalia">
                                <div class="overly"></div>
                            </div>
                        </a>
                        <div class="news_content news_content_3">
                            <a href="{{path('news_show', {'id':1})}}">
                                <h2>DARK SIDE</h2>
                            </a>
                            <div class="day_num">
                                <span>19</span>
                                <div>
                                    <p>Dec</p>
                                    <p>2019</p>
                                </div>
                                <p>by admin</p>
                            </div>
                            <div class="n_c">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation
                                </p>
                            </div>
                            <div class="cta">
                                <a href="{{path('news_show', {'id':1})}}">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 wow fadeInUpBig">
                        <a href="{{path('news_show', {'id':1})}}">
                            <div class="bg_image news_bg_image">
                                <img src="{{asset('bundles/app/images/malte-wingen-381988-unsplash.jpg')}}" alt="stas-svechnikov">
                                <div class="overly"></div>
                            </div>
                        </a>
                        <div class="news_content news_content_1">
                            <a href="{{path('news_show', {'id':1})}}">
                                <h2>NEW DJ</h2>
                            </a>
                            <div class="day_num">
                                <span>19</span>
                                <div>
                                    <p>Dec</p>
                                    <p>2019</p>
                                </div>
                                <p>by admin</p>
                            </div>
                            <div class="n_c">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation
                                </p>
                            </div>
                            <div class="cta">
                                <a href="{{path('news_show', {'id':1})}}">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 wow fadeInUp">
                        <a href="{{path('news_show', {'id':1})}}">
                            <div class="bg_image news_bg_image">
                                <img src="{{asset('bundles/app/images/hanny-naibaho-388579-unsplash.jpg')}}" alt="timothy-paul-smith">
                                <div class="overly"></div>
                            </div>
                        </a>
                        <div class="news_content news_content_2">
                            <a href="{{path('news_show', {'id':1})}}">
                                <h2>DRUM FESTIVAL</h2>
                            </a>
                            <div class="day_num">
                                <span>19</span>
                                <div>
                                    <p>Dec</p>
                                    <p>2019</p>
                                </div>
                                <p>by admin</p>
                            </div>
                            <div class="n_c">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation
                                </p>
                            </div>
                            <div class="cta">
                                <a href="{{path('news_show', {'id':1})}}">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 wow fadeInUpBig">
                        <a href="{{path('news_show', {'id':1})}}">
                            <div class="bg_image news_bg_image">
                                <img src="{{asset('bundles/app/images/jack-hamilton-135654-unsplash.jpg')}}" alt="george-gvasalia">
                                <div class="overly"></div>
                            </div>
                        </a>
                        <div class="news_content news_content_3">
                            <a href="{{path('news_show', {'id':1})}}">
                                <h2>DARK SIDE</h2>
                            </a>
                            <div class="day_num">
                                <span>19</span>
                                <div>
                                    <p>Dec</p>
                                    <p>2019</p>
                                </div>
                                <p>by admin</p>
                            </div>
                            <div class="n_c">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation
                                </p>
                            </div>
                            <div class="cta">
                                <a href="{{path('news_show', {'id':1})}}">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
    </script>
{% endblock %}
