{% extends "base.html.twig" %}
{% block title %}News{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
{% endblock %}
{% block body %}
    <section id="page-title">
        <div class="global-title wow zoomIn">
            <h1>News</h1>
        </div>
    </section>
    <section id="standard-blog">
        <div class="section">
            <div class="row blog-content">
                <div class="col-lg-8 col-md-7 post-content">
                    <section id="blog-grid-gallery">
                        <div id="grid-gallery" class="grid-gallery">
                            <section class="grid-wrap section">
                                <ul class="grid">
                                    <li class="grid-sizer"></li>
                                    {% for news in news %}
                                        <li class="element-item wow fadeInUp {{news.newsType.title|lower}}">
                                            <a href="{{path('news_show', {'id':news.id})}}">
                                                <figure>
                                                    <div class="blog-grid-image">
                                                        {% if news.getThumbnail %}
                                                            <img src="{{asset(news.getThumbnail)}}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <figcaption>
                                                        <h3>{{news.title}}</h3>
                                                        <span class="post-publish-date">{{ news.createdAt|date('d/m/Y') }}</span>
                                                        <div>
                                                            {{news.description|slice(0,200)|raw}} ...
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="navigation">
                                    {{ knp_pagination_render(news) }}
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4 col-md-5 hidden-sm-down sitebar">
                    <!-- <div class="blog-search">
                        <form class="form-inline md-form mr-auto mb-4">
                            <input class="mr-sm-2" type="text" placeholder="Search..." aria-label="Search">
                            <button class="search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div> -->
                    <div class="blog-categories">
                        <h2>CATEGORIES</h2>
                        <div class="p-categories">
                            <a href="javascript:void(0)" class="categories-line active" data-filter="*">
                                <span class="c-name">Tout voir</span>
                                <span class="c-count">{{categories|length}}</span>
                            </a>

                            {% for category in categories %}
                                <a href="javascript:void(0)" class="categories-line" data-filter=".{{category.title|lower}}">
                                    <span class="c-name">{{category.title}}</span>
                                    <span class="c-count">{{category.news|length}}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="blog-recent-post">
                        <h2>RECENT POSTS</h2>
                        <div class="p-recent-posts">
                            {% for news in recent %}
                                <a href="{{path('news_show', {'id':news.id})}}" class="resent-posts-line">
                                    {% if news.getThumbnail %}
                                        <div class="recent-post-image">
                                            <img src="{{asset(news.getThumbnail)}}" alt="">
                                        </div>
                                    {% endif %}
                                    <div class="recent-post-name">
                                        <h3>{{news.title}}</h3>
                                        <span>{{ news.createdAt|date('d/m/Y') }}</span>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
jQuery(document).ready(function() {
    var $grid = $('.grid').isotope({
        itemSelector: '.element-item',
        layoutMode: 'fitRows'
    });
    $('.p-categories').on( 'click', 'a', function() {
        var filterValue = $( this ).attr('data-filter');
        $grid.isotope({ filter: filterValue });
    });
    $('.p-categories').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'a', function() {
            $buttonGroup.find('.active').removeClass('active');
            $( this ).addClass('active');
        });
    });
})
</script>
{% endblock %}
