{% extends "base.html.twig" %}
{% block classpage %}music-discography{% endblock %}
{% block title %}{{ news.title }}{% endblock %}
{% block metadatas %}
    <meta property="og:url"           content="{{app.request.uri}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{news.title}}" />
    <meta property="og:description"   content="{{news.title}}" />
    <meta property="og:image"         content="{{asset(news.getThumbnail)}}" />
{% endblock %}
{% block body %}
<section id="page-title">
    <div class="global-title wow zoomIn">
        <h1>News</h1>
    </div>
</section>
<section id="blog-post">
    <div class="section">
        <div class="row blog-content">
            <div class="col-sm-9 post-content">
                <div class="featured-image">
                    <img src="{{asset(news.getThumbnail)}}" alt="">
                </div>
                <div class="post-text">
                    <div class="post-heading">
                        <h2>{{ news.title }}</h2>
                        <div class="post-by">
                            <span>{{ news.createdAt|date('d/m/Y') }}</span>
                            <span>Par <a href="#" class="categories-name">{{news.author.completename}} </a></span>
                            <span class="post-category">dans <a href="#" class="categories-name">{{news.newsType.title}}</a></span>
                        </div>
                    </div>
                    <div>
                        {{news.description|raw}}
                    </div>
                </div>
                <div class="post-share">
                    <span>SHARE :</span>
                    <a href="javascript:void(0);" onclick="share_fb('{{app.request.uri}}');return false;" rel="nofollow" share_url="{{app.request.uri}}" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" onclick="share_tweet('{{news.title}}')" rel="nofollow" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 sitebar pt-0">
                <div class="blog-recent-post mt-0">
                    <h2>RECENT POSTS</h2>
                    <div class="p-recent-posts">
                        {% for post in recent if post.id != news.id %}
                            <a href="{{path('news_show', {'id':post.id})}}" class="resent-posts-line">
                                {% if post.getThumbnail %}
                                    <div class="recent-post-image">
                                        <img src="{{asset(post.getThumbnail)}}" alt="">
                                    </div>
                                {% endif %}
                                <div class="recent-post-name">
                                    <h3>{{post.title}}</h3>
                                    <span>{{ post.createdAt|date('d/m/Y') }}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
<script>
    function share_fb(url) {
        window.open('https://www.facebook.com/sharer/sharer.php?u='+url,'facebook-share-dialog',"width=626, height=436")
    }
    function share_tweet(name) {
        var text = "Venez suivre "+name +" sur ";
        var shareUrl = 'https://twitter.com/intent/tweet?url=' + location.href + '&text=' + text;
        window.open(shareUrl,'ShareOnTwitter',"width=626, height=436")
    }
</script>
{% endblock %}
