{% extends "base.html.twig" %}
{% block title %}Events{% endblock %}
{% block body %}
    <section id="page-title">
        <div class="global-title wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <h1>All Events</h1>
        </div>
    </section>
    <section id="events-banner">
        <div class="section">
            <div class="row" id="list-events">
                <div class="col-xs-12 col-lg-6">
                    <div class="slider-info">
                        <div class="row">
                            <div class="col-12">
                                <div class="events-slider">
                                    <a href="{{path('event_show', {'id':1})}}">
                                        <img class="" src="{{asset('bundles/app/images/austin-edwards-679508-unsplash.jpg')}}" alt="First slide">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="events-info">
                                    <div class="events_date">
                                        <p>
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                            <span>August 20, 2019</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            <span>9:15 pm</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>Indio, California</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                            <span>Coachella Music Festival</span>
                                        </p>
                                    </div>
                                    <div class="event-tickets">
                                        <a href="javascript:void(0);">Buy Ticket</a>
                                        <a href="javascript:void(0);">EVENT ON FACEBOOK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="slider-info">
                        <div class="row">
                            <div class="col-12">
                                <div class="events-slider">
                                    <a href="{{path('event_show', {'id':1})}}">
                                        <img class="" src="{{asset('bundles/app/images/austin-edwards-679508-unsplash.jpg')}}" alt="First slide">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="events-info">
                                    <div class="events_date">
                                        <p>
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                            <span>August 20, 2019</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            <span>9:15 pm</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>Indio, California</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                            <span>Coachella Music Festival</span>
                                        </p>
                                    </div>
                                    <div class="event-tickets">
                                        <a href="javascript:void(0);">Buy Ticket</a>
                                        <a href="javascript:void(0);">EVENT ON FACEBOOK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="slider-info">
                        <div class="row">
                            <div class="col-12">
                                <div class="events-slider">
                                    <a href="{{path('event_show', {'id':1})}}">
                                        <img class="" src="{{asset('bundles/app/images/austin-edwards-679508-unsplash.jpg')}}" alt="First slide">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="events-info">
                                    <div class="events_date">
                                        <p>
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                            <span>August 20, 2019</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            <span>9:15 pm</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>Indio, California</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                            <span>Coachella Music Festival</span>
                                        </p>
                                    </div>
                                    <div class="event-tickets">
                                        <a href="javascript:void(0);">Buy Ticket</a>
                                        <a href="javascript:void(0);">EVENT ON FACEBOOK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="slider-info">
                        <div class="row">
                            <div class="col-12">
                                <div class="events-slider">
                                    <a href="{{path('event_show', {'id':1})}}">
                                        <img class="" src="{{asset('bundles/app/images/austin-edwards-679508-unsplash.jpg')}}" alt="First slide">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="events-info">
                                    <div class="events_date">
                                        <p>
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                            <span>August 20, 2019</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            <span>9:15 pm</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>Indio, California</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                            <span>Coachella Music Festival</span>
                                        </p>
                                    </div>
                                    <div class="event-tickets">
                                        <a href="javascript:void(0);">Buy Ticket</a>
                                        <a href="javascript:void(0);">EVENT ON FACEBOOK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="on-tour" class="section_3">
        <div class="section_bg_image" style="background-image: url({{asset('bundles/app/images/oscar-keys-58399-unsplash.jpg)')}}"></div>
        <div class="section">

            <div class="title">
                <div class="">
                    <h1>On Tour</h1>
                    <p>Lorem ipsum dolor</p>
                </div>
            </div>

            <div class="col tickets wow fadeInUpBig">
                <div class="row ticket">
                    <div class="col">
                        <div class="row">
                            <a class="col-10 ticket-link" href="{{path('event_show', {'id':1})}}">
                                <div class="day">
                                    <div class="day_num">
                                        <span>19</span>
                                        <div>
                                            <p>Dec</p>
                                            <p>2019</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">
                                    <p><span>Coachella Music Festival</span> // <span>Warsaw, Poland</span></p>
                                </div>
                            </a>
                            <div class="col-2 buy">
                                <a href="javascript:void(0);">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ticket">
                    <div class="col">
                        <div class="row">
                            <a class="col-10 ticket-link" href="{{path('event_show', {'id':1})}}">
                                <div class="day">
                                    <div class="day_num">
                                        <span>12</span>
                                        <div>
                                            <p>Dec</p>
                                            <p>2020</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">
                                    <p><span>Wakestock Festival</span> // <span>Warsaw, Poland</span></p>
                                </div>
                            </a>
                            <div class="col-2 buy">
                                <a href="javascript:void(0);">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ticket">
                    <div class="col">
                        <div class="row">
                            <a class="col-10 ticket-link" href="{{path('event_show', {'id':1})}}">
                                <div class="day">
                                    <div class="day_num">
                                        <span>12</span>
                                        <div>
                                            <p>Dec</p>
                                            <p>2020</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">
                                    <p><span>Lollapalooza Festival</span> // <span>Berlin, Germany</span></p>
                                </div>
                            </a>
                            <div class="col-2 buy">
                                <a href="javascript:void(0);">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ticket">
                    <div class="col">
                        <div class="row">
                            <a class="col-10 ticket-link" href="{{path('event_show', {'id':1})}}">
                                <div class="day">
                                    <div class="day_num">
                                        <span>12</span>
                                        <div>
                                            <p>Dec</p>
                                            <p>2020</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">
                                    <p><span>Wakestock Festival</span> // <span>Copenhagen, Denmark</span></p>
                                </div>
                            </a>
                            <div class="col-2 buy">
                                <a href="javascript:void(0);">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ticket">
                    <div class="col">
                        <div class="row">
                            <a class="col-10 ticket-link" href="{{path('event_show', {'id':1})}}">
                                <div class="day">
                                    <div class="day_num">
                                        <span>16</span>
                                        <div>
                                            <p>Dec</p>
                                            <p>2020</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">
                                    <p><span>Crew Stadium</span> // <span>Berlin, Germany</span></p>
                                </div>
                            </a>
                            <div class="col-2 buy">
                                <a href="javascript:void(0);">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ticket">
                    <div class="col">
                        <div class="row">
                            <a class="col-10 ticket-link" href="{{path('event_show', {'id':1})}}">
                                <div class="day">
                                    <div class="day_num">
                                        <span>16</span>
                                        <div>
                                            <p>Dec</p>
                                            <p>2020</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">
                                    <p><span>Columbianhalle</span> // <span>Berlin, Germany</span></p>
                                </div>
                            </a>
                            <div class="col-2 buy">
                                <p>Sold Out!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ticket">
                    <div class="col">
                        <div class="row">
                            <a class="col-10 ticket-link" href="{{path('event_show', {'id':1})}}">
                                <div class="day">
                                    <div class="day_num">
                                        <span>19</span>
                                        <div>
                                            <p>Dec</p>
                                            <p>2020</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="name">
                                    <p><span>Torwar</span> // <span>Warsaw, Poland</span></p>
                                </div>
                            </a>
                            <div class="col-2 buy">
                                <p>Cancelled</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script></script>
{% endblock %}
