{% extends "base.html.twig" %}
{% block classpage %}single-product{% endblock %}
{% block title %}Store{% endblock %}
{% block body %}
    <section id="page-title">
        <div class="global-title wow zoomIn">
            <h1>Store</h1>
        </div>
    </section>
    <section id="single-product-section">
        <div class="section">
            <div class="shop-view-cart">
                <div class="name-title">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <span>"Guns N Roses Civil War T-Shirt" has been added to your cart.</span>
                </div>
                <div class="ad-to-card-button">
                    <a href="14-Cart.html">View Cart</a>
                </div>
            </div>
            <div class="row product-container">
                <div class="col-lg-6 single-image">
                    <div class="product-image">
                        <a href="{{asset('bundles/app/images/Men-SS-Stripe-T-Shirt-Navy-1.png')}}" style="display: inline-block;">
                            <div class="magnify">
                                <div class="magnify-lens"></div>
                                <img src="{{asset('bundles/app/images/Men-SS-Stripe-T-Shirt-Navy-1.png')}}" alt="Single Product" class="zoom" style="display: block;">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 product-description">
                    <div class="single-pr-name">
                        <h3>Guns N Roses Civil War T-Shirt</h3>
                    </div>
                    <div class="single-price">
                        <p>
                            € 160
                            <span class="sale">€ 192</span>
                        </p>
                    </div>
                    <div class="single-star">
                        <ul>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="single-text">
                        <p>
                            Each t-shirt is unique with vintage finish and mini ribbed neckline.There is contrast stitching and raw edge detail around the collar, sleeves and bottom hem line.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        </p>
                    </div>
                    <div class="single-button-count">
                        <div class="catd-button">
                            <a href="javascript:void(0);">
                                Add To Card
                            </a>
                        </div>
                        <div class="plusminus horiz">
                            <button disabled=""></button>
                            <input type="number" name="productQty" value="1" min="1" max="10">
                            <button></button>
                        </div>
                    </div>
                    <div class="single-code">
                        <p>
                            <span class="sku">
                                SKU:
                                <span>
                                    2148
                                </span>
                            </span>
                            <span class="single-style">
                                Categories:
                                <a href="javascript:void(0);">
                                    Dermal Fillers
                                </a>,
                                <a href="javascript:void(0);">
                                    Stylage Vivacy
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="single-tab-content">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link active show" href="#description" role="tab" data-toggle="tab" aria-selected="true">DESCRIPTION</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="#review" role="tab" data-toggle="tab" aria-selected="false">REVIEWS (0)</a> </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane first-tab-pane fade active show" id="description">
                        <p>
                            Each t-shirt is unique with vintage finish and mini ribbed neckline. There is contrast stitching and raw edge detail around the collar, sleeves and bottom hem line.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                            voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane secondt-tab-pane fade in" id="review">
                        <div id="blog-post" class="col-sm-9">
                            <div class="post-author">
                                <div class="author-info">
                                    <div class="author-image">
                                        <img src="resources/images/no-pic.png" alt="No Pic" class="no-pic" style="display: none;">
                                        <img src="{{asset('bundles/app/images/client-2.jpg')}}" alt="Eye Spy">
                                    </div>
                                    <div class="author-name-date">
                                        <p>Gavin Hoffman</p>
                                        <p>5 hours ago</p>
                                    </div>
                                    <em>Your comment is awaiting moderation</em>
                                </div>
                                <div class="author-description">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacommodo consequat.
                                    </p>
                                </div>
                            </div>
                            <div class="form">
                                <h2>ADD A REVIEW</h2>
                                <form>
                                    <div class="comment-form-rating">
                                        <label>Your rating</label>
                                        <p class="stars selected">
                                            <span>
                                                <a class="star-1 active" href="javascript:void(0);">
                                                    <i class="fa fa-star star-rate" aria-hidden="true"></i>
                                                </a>
                                                <a class="star-2" href="javascript:void(0);">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </a>
                                                <a class="star-3" href="javascript:void(0);">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </a>
                                                <a class="star-4" href="javascript:void(0);">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </a>
                                                <a class="star-5" href="javascript:void(0);">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="row fild_1">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" placeholder="Full name">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Post Comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="releated-products">
        <div class="section">
            <div class="related-product-title">
                <h3>Related products</h3>
            </div>
            <div class="shop-items">
                <div class="s-item wow fadeInUp">
                    <div class="s-item-image">
                        <a href="{{path('store_show', {'id':1})}}"><img src="{{asset('bundles/app/images/Men-SS-Stripe-T-Shirt-Navy-1.png')}}" alt="Image"></a>
                    </div>
                    <div class="s-item-name">
                        <a href="{{path('store_show', {'id':1})}}">
                            <h2>Nautical Print T-Shirt</h2>
                        </a>
                        <p>$1,000<sup>.00</sup>
                        </p>
                        <div class="ad-to-card-button">
                            <a href="javascript:void(0);">Add To Card</a>
                        </div>
                    </div>
                </div>
                <div class="s-item wow fadeInUp">
                    <div class="s-item-image">
                        <a href="{{path('store_show', {'id':1})}}"><img src="{{asset('bundles/app/images/Men-SS-Stripe-T-Shirt-Navy-1.png')}}" alt="Image"></a>
                    </div>
                    <div class="s-item-name">
                        <a href="{{path('store_show', {'id':1})}}">
                            <h2>Nautical Print T-Shirt</h2>
                        </a>
                        <p>$1,000<sup>.00</sup>
                        </p>
                        <div class="ad-to-card-button">
                            <a href="javascript:void(0);">Add To Card</a>
                        </div>
                    </div>
                </div>
                <div class="s-item wow fadeInUp">
                    <div class="s-item-image">
                        <a href="{{path('store_show', {'id':1})}}"><img src="{{asset('bundles/app/images/Men-SS-Stripe-T-Shirt-Navy-1.png')}}" alt="Image"></a>
                    </div>
                    <div class="s-item-name">
                        <a href="{{path('store_show', {'id':1})}}">
                            <h2>Nautical Print T-Shirt</h2>
                        </a>
                        <p>$1,000<sup>.00</sup>
                        </p>
                        <div class="ad-to-card-button">
                            <a href="javascript:void(0);">Add To Card</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script></script>
{% endblock %}
